<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/foundation.css" rel="stylesheet" type="text/css" media="all">
  <link href="/app.css" rel="stylesheet" type="text/css" media="all">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>Yelp Campgrounds &#128526;</title>
</head>

<body>
  <header>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Log in </li>
      <li> Log out</li>
    </ul>
  </header>



  <div class="hero-section background-image">
    <div class="hero-section-text">
      <h1>Yelp Campgrounds!</h1>
      <h5>subtitle about anything you like</h5>
    </div>
  </div>
