<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/foundation.css" rel="stylesheet" type="text/css" media="all">
  <link href="/app.css" rel="stylesheet" type="text/css" media="all">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>Yelp Campgrounds &#128526;</title>
</head>

<body>
  <header>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Log in </li>
      <li> Log out</li>
    </ul>
  </header>

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <hr>

        <h1 class="topMArg">Welcome to Foundation</h1>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <div class="callout calloutRadius box-shadow">

          <div class="grid-x grid-padding-x">
            <div class="large-4 medium-4 cell">

              <p><img src="https://s26.postimg.cc/iad4b6qh5/CCOlic_Sagui_Andrea.jpg" alt="Camp Site">Foundation Documentation<br />Everything you need to know about using the framework.</p>
            </div>
            <div class="large-4 medium-4 cell">
              <p><a href="http://zurb.com/university/code-skills">Foundation Code Skills</a><br />These online courses offer you a chance to better understand how Foundation works and how you can master it to create awesome projects.</p>
            </div>
            <div class="large-4 medium-4 cell">
              <p> <img src="https://s26.postimg.cc/iad4b6qh5/CCOlic_Sagui_Andrea.jpg" alt="Camp Site"><br />Join the Foundation community to ask a question or show off your knowlege.</p>
            </div>
          </div>
          <div class="grid-x grid-padding-x">
            <div class="large-4 medium-4 medium-push-2 cell">
              <p><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</p>
            </div>
            <div class="large-4 medium-4 medium-pull-2 cell">
              <p><a href="https://twitter.com/ZURBfoundation">@zurbfoundation</a><br />Ping us on Twitter if you have questions. When you build something with this we'd love to see it (and send you a totally boss sticker).</p>
              <hr>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
